/* .header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  justify-content: flex-end;
  align-items: flex-start;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
}
